<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{sensorMovimiento.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{sensorMovimiento.list.headline}]]</h1>
                <div>
                    <a th:href="@{/sensorMovimientos/add}" class="btn btn-primary ms-2">[[#{sensorMovimiento.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${sensorMovimientoes.empty}">[[#{sensorMovimiento.list.empty}]]</div>
            <div th:if="${!sensorMovimientoes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{sensorMovimiento.id.label}]]</th>
                            <th scope="col">[[#{sensorMovimiento.nombre.label}]]</th>
                            <th scope="col">[[#{sensorMovimiento.hayMovimiento.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sensorMovimiento : ${sensorMovimientoes}">
                            <td>[[${sensorMovimiento.id}]]</td>
                            <td>[[${sensorMovimiento.nombre}]]</td>
                            <td>[[${sensorMovimiento.hayMovimiento}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/sensorMovimientos/edit/{id}(id=${sensorMovimiento.id})}" class="btn btn-sm btn-secondary">[[#{sensorMovimiento.list.edit}]]</a>
                                    <form th:action="@{/sensorMovimientos/delete/{id}(id=${sensorMovimiento.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{sensorMovimiento.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
